[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "*"
ipykernel = "*"
torch = "*"
numpy = "*"
statistics = "*"
matplotlib = "*"
pandas = "*"
math = "*"
time = "*"
os = "*"

[dev-packages]

[requires]
python_version = "3.6"
